In [99]:
import numpy as np
from sympy.physics.quantum.cg import CG
import pandas as pd

In [134]:
def Calc(j1, m1, j2, m2, j3, m3):
    cg = CG(j1, m1, j2, m2, j3, m3)
    return cg.doit()

def lister(a, b):
    if b < a:
        a, b = b, a
    if b >= a:    
        ls = [a]
        while b != a:
            ls.append(b)
            b -= 1
        ls.sort()
        return ls

def jvals(j1, j2):
    return lister(np.abs(j1 - j2), np.abs(j1 + j2))

def mvals(j):
    ms, js = [], []
    for i in j:
        if i == 0:
            ms.extend([0])
            js.extend([0])
        else:
            ms.extend(lister(-i, i))
            js.extend([i] * int(2*i + 1))
    l = len(js)
    return np.array([js, ms]).T

def calculate_m(j1, j2):
    m1, m2 = mvals([j1]), mvals([j2])
    m = mvals(jvals(j1, j2))
    return m, m1, m2

def calculate_coef(m, m1, m2):
    list = []
    for k in m:
        for i in m1:
            for j in m2:
                if (i[0] != j[0] or (i[0] == j[0] and j[1] != i[1])):
                    cgg = Calc(i[0], i[1], j[0], j[1], k[0], k[1])
                    if cgg != 0:
                        list.append([i[0], j[0], i[1], j[1], k[0], k[1], cgg])
    return list

def print_table(list):
    return pd.DataFrame(np.array(list), columns=['j1','j2','m1','m2','j','m','Coefficient'])

def CG_coefficients(j1, j2):
    m, m1, m2 = calculate_m(j1, j2)
    list = calculate_coef(m, m1, m2)
    df = print_table(list)
    return df

In [136]:
CG_coefficients(1, 1/2)

  j1   j2  m1   m2    j    m                 Coefficient
0  1  0.5  -1  0.5  0.5 -0.5  -0.471404520791032*sqrt(3)
1  1  0.5   0 -0.5  0.5 -0.5   0.235702260395516*sqrt(6)
2  1  0.5   0  0.5  0.5  0.5  -0.235702260395516*sqrt(6)
3  1  0.5   1 -0.5  0.5  0.5   0.471404520791032*sqrt(3)
4  1  0.5  -1 -0.5  1.5 -1.5            1.00000000000000
5  1  0.5  -1  0.5  1.5 -0.5   0.333333333333333*sqrt(3)
6  1  0.5   0 -0.5  1.5 -0.5   0.333333333333333*sqrt(6)
7  1  0.5   0  0.5  1.5  0.5   0.333333333333333*sqrt(6)
8  1  0.5   1 -0.5  1.5  0.5   0.333333333333333*sqrt(3)
9  1  0.5   1  0.5  1.5  1.5            1.00000000000000

In [137]:
CG_coefficients(1, 1)

   j1 j2  m1  m2  j   m Coefficient
0   1  1  -1   1  0   0   sqrt(3)/3
1   1  1   1  -1  0   0   sqrt(3)/3
2   1  1  -1   0  1  -1  -sqrt(2)/2
3   1  1   0  -1  1  -1   sqrt(2)/2
4   1  1  -1   1  1   0  -sqrt(2)/2
5   1  1   1  -1  1   0   sqrt(2)/2
6   1  1   0   1  1   1  -sqrt(2)/2
7   1  1   1   0  1   1   sqrt(2)/2
8   1  1  -1   0  2  -1   sqrt(2)/2
9   1  1   0  -1  2  -1   sqrt(2)/2
10  1  1  -1   1  2   0   sqrt(6)/6
11  1  1   1  -1  2   0   sqrt(6)/6
12  1  1   0   1  2   1   sqrt(2)/2
13  1  1   1   0  2   1   sqrt(2)/2